<section>
    <div class="row g-4">
        <div class="col-md-2" *ngFor="let item of products">
            <div class="product " >
                <i  (click)="removeWishlist(item._id)" class="fa-solid fa-heart-circle-minus cursor-pointer heart-remove"></i>
                <div class="p-2 cursor-pointer" [routerLink]="['/details' , item._id]">
                    <img [src]="item.imageCover" class="w-100" [alt]="item.title">
                <h3 class=" text-main h6">{{item.category.name}}</h3>
                <h4 class="h6">{{item.title|termtext:2}}</h4>
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{item.price |currency:'EGP'}}</span>
                    <div>
                        <i class="fas fa-star rating-color"></i>
                        <span class="text-muted">{{item.ratingsAverage}}</span>
                    </div>
                </div>
                </div>
                <button (click)="addCart(item._id)" class="btn-main w-100">Add Product</button>
               
            </div>
        </div>
    </div>
</section>
